* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}
.page {
  width: 550px;
  background-color: white;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}
header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}
header img {
  margin-right: 0.5rem;
  width: 2.5rem;
}
header h1 {
  font-size: 1.5rem;
  margin-right: auto;
  letter-spacing: -2px;
}
header h2 {
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 400;
}
/*  */
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
}
button {
  margin-bottom: auto;
}
.submit {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
.text {
  width: 48%;
}
input {
  border: 1px solid #d5d4d8;
}

input {
  text-indent: 0.5rem;
}
input:focus {
  outline: none;
}
.image {
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
}
/*  */

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
